@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Rubik, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont;
}

@keyframes run {
  to {
    transform: translate(0%);
  }
  from {
    transform: translate(-100%);
  }
}

@keyframes fadein1 {
  0% {
    opacity: 0;
    transform: translate(10%);
  }
  25% {
    opacity: 1;
    transform: translate(-0%);
  }
}
@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
    transform: translate(10%);
  }
  50% {
    opacity: 1;
    transform: translate(-0%);
  }
}
@keyframes fadein3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate(10%);
  }
  75% {
    opacity: 1;
    transform: translate(-0%);
  }
}
